[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain = "==0.3.4"
langchain-openai = "==0.3.0"
pydantic-settings = "==2.7.1"
pydantic-core = "==2.27.2"
streamlit = "*"
fastapi = "==0.109.2"
uvicorn = "==0.27.0"
mangum = "==0.17.0"

[dev-packages]

[requires]
python_version = "3.11"
